/* src/components/ProductCard.css */

.product-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.product-card {
  flex: 0 0 250px;
  flex-shrink: 0;
  width: 220px;
  text-align: center;
  background-color: #f9f9f9;;
  border: 1px solid #f9f9f9;;
  border-radius: 8px;
  padding: 15px;
  
  font-family: 'Avenir', sans-serif;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.product-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* Montserrat-Medium */
  font-size: 15px;
  color: #222;
  margin-bottom: 0.25rem;
  text-align: left;
  
}

.product-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Montserrat-Regular */
  font-size: 15px;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
  
}

.color-picker {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
  justify-content: flex-start;
  
}

.color-option {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1.5px solid #ddd;
  cursor: pointer;
  justify-content: flex-start;
}

.color-option.selected {
  border: 1px solid #292323; 
  border-radius: 50%;
  justify-content: flex-start;
  
}

.selected-color-label {
  font-family: 'Avenir', sans-serif;
  font-size: 12px;
  color: #555;
  margin-top: 6px;
  text-align: center;
  text-align: left;
}

.rating {
  font-size: 0.85rem;
  color: #222;
  text-align: left;
}

.stars {
  color: #f5a623;
  margin-right: 0.25rem;
  justify-content: flex-start;
}

.star {
  color: #ccc;
  font-size: 18px;
  margin-right: 2px;
  justify-content: flex-start;
}

.star.filled {
  color: gold;
  justify-content: flex-start;
}

.product-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  justify-content: flex-start;
}

.numeric-rating {
  font-size: 0.9rem;
  color: #555;
  margin-left: 6px;
}

.product-image-container{

  box-shadow: 0 0 0 1px solid #a7a3a3;

}
